.link {
  background-color: $white;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0.25rem;
  border-radius: 5px;
  border: 0.1px solid $gray;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}