.art-wrapper {
  margin: 2rem auto;
  max-width: 70rem;
  
  .art-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .art {
    display: flex;

   
    .image {
     border-radius: 5px 0 0 0; 
      width: 20rem;
    }  
    .details-wrapper {
      padding: 1rem;
      
      .detail-header {
        margin-bottom: 2rem;
      }

      .divider {
        margin-bottom: 1rem;
      }
    }
  }
}