.art-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  .img {
    max-width: 14rem;
    max-height: 14rem;
    height: auto;
    width: auto;
    border-radius: 5px 5px 0 0; 
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
  }
}