.arts-list {
  margin: 2rem auto;
  max-width: 90rem;

  .link-wrapper {
    display: flex;
    align-items: center;
  }

  .favourite-arts {
    margin-top: 1rem;
  }
  
  .arts-header {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .arts-grid {
    display: grid;
    grid-template-columns: repeat(5, 14rem);
    grid-gap: 2rem;
    justify-content: space-between;
  }

  .pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }  
}